article {
  @include margin-trailer(3);
}

article p {
  @include margin-trailer(1);
}

.footnotes {
  @include margin-leader(2);
  @include margin-trailer(1);
}

.continue-reading {
  font-family: 'AvenirNext-DemiBold', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

#post-questions {
  background-color: $gray;
  @include margin-leader(2);
  @include margin-trailer(3);
  padding: 1em;
}

#post-questions p {
  margin: 0;
}

.post-page h1 {
  margin-bottom: 0;
}

.post-header {
  @include margin-trailer(1.5);
}