table {
  @include margin-trailer(2);
  border-collapse: collapse;
}

td, th {
  @include adjust-font-size-to(12px);
  border-right: 2px solid $body;
  padding: 0.75rem;
  text-align: left;
}

tr {
  border-bottom: 2px solid $body;
}

th {
  @include adjust-font-size-to(12px);
  font-family: 'AvenirNextCondensed-DemiBold', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  text-transform: uppercase;
}


th:last-child, td:last-child {
  border-right: none;
}

tr:last-child {
  border-bottom: none;
}

.responsive-table {
  width: 100%;
	overflow-y: auto;
	_overflow: auto;
	margin: 0 0 1em;
}

