table {
  border-collapse: collapse;
}

td, th {
  @include adjust-font-size-to(14px);
  padding: 1rem;
  text-align: left;
}

td {
  border: 1px solid $dark;
}

th {
  border-top: 1px solid $dark;
  font-family: 'AvenirNext-Medium', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  @include adjust-font-size-to(12px);
  text-transform: uppercase;;
}

th:first-child {
  border-left: 1px solid $dark;
}

th:last-child {
  border-right: 1px solid $dark;
}

th, tr:nth-child(even) {
  background-color: $gray;
}

.table-responsive {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  @media #{$large} {
    overflow: visible;
  }
}

