---
layout: sg
title: Contact • Patterns • M. Duncan • Style Guide 
permalink: /style-guide/patterns/contact/
---

<h1>Contact</h1>

<h2>Elements</h2>

  <p>Instructions for inquiring about a project</p>

  <div class="sg-example">
    {% include _elements/email-inquiry.html %}
  </div>
  
  <p>Instructions for responding to an article</p>

  <div class="sg-example">
    {% include _elements/article-inquiry-instructions.html %}
  </div>

  <p>Email link</p>

  <div class="sg-example">
    {% include _elements/email-link.html %}
  </div>
  
<h2>Modules</h2>

  <p>Instructions for inquiring about a project, with email link</p>

  <div class="sg-example">    
    {% include _modules/project-inquiry.html %}
  </div>
  
  <p>Instructions for inquiring about a project, with email link</p>
  
  <div class="sg-example">    
    {% include _modules/article-inquiry.html %}
  </div>

