<div id="sg-sidebar" class="unit size1of4">
  <a id="sg-sidebar-back" href="{{ site.url }}">&#8592; Back to main site</a>
  
  <nav class="sg-nav">
    <ul>
      <li><a href="{{ "/style-guide/" | prepend: site.baseurl }}">Home</a></li>
      <li><a href="{{ "/style-guide/grid/" | prepend: site.baseurl }}">Grid</a></li>
      <li><a href="{{ "/style-guide/typography/" | prepend: site.baseurl }}">Typography</a></li>
      <li><a href="{{ "/style-guide/buttons/" | prepend: site.baseurl }}">Buttons</a></li>
      <li><a href="{{ "/style-guide/colors/" | prepend: site.baseurl }}">Colors</a></li>
      <li><a href="{{ "/style-guide/data/" | prepend: site.baseurl }}">Data</a></li>
      <li><a href="{{ "/style-guide/images/" | prepend: site.baseurl }}">Images</a></li>
      <li><a href="{{ "/style-guide/patterns/" | prepend: site.baseurl }}">Patterns</a></li>
      <li><a href="{{ "/style-guide/identity/" | prepend: site.baseurl }}">Identity</a></li>
    </ul>
  </nav>
  
</div>